@import "./theme.scss";

@font-face {
  //font-family: '';
  //src: url('') format('');
  //font-weight: normal;
  //font-style: normal;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

main {
  max-width: $max-width;
  margin: 3rem auto;

}

@import "./typography";
@import "./navbar";

.site-header {
  padding: 1.5rem 1.5rem;
  height: 60px;

 @include media(wide-up) {
   height: 85px;
 }
}
