@import "../theme";

@mixin input-style {
  .payment-input,
  input[type=text],
  input.text,
  select,
  .form-control {
    font-size: 1.6rem;
    border-radius: $border-radius;
    border: .1rem solid $grey--light;
    background-color: $white;
    height: 5rem;
    line-height: 5rem;

    &:focus {
      border-color: $secondary;
      box-shadow: $box-shadow--light;
    }

    @include placeholder {
      color: $grey !important;
    }
  }
}

@mixin error-icon {
  content: "✖";
  margin-left: 0;
  font-size: .9em;
  margin-right: .25em;
  vertical-align: inherit;
}

.v2-theme form {
  @include form-style();

  @at-root .v2-theme .theme-primary.theme-panel form,
  & {
    @include input-style();
  }


  .form-errors {
    ul {
      margin-bottom: $spacing--vertical;
      padding: 0;
    }

    ul li {
      background-color: $warning;
      border: 1px solid darken($warning, 5%);
      border-radius: $border-radius;
      padding: ($spacing--vertical / 2) ($spacing--horizontal / 2);

      + li {
        margin-top: $spacing--vertical;
      }
    }

    ul li::before {
      @include error-icon;
    }
  }

  .error-message {
    color: red;
    &::before {
      @include error-icon;
    }
  }

  .form-group {
    margin-bottom: $spacing--vertical;
  }

  [type="checkbox"],
  [type="radio"] {
    overflow: hidden;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;

    &::before,
    &::after {
      position: absolute;
      top:0;
      bottom: 0;
      right: 0;
      left: 0;
      border: 1px solid transparent;
      font-family: $icon-font;
    }

    &:focus {
      outline: 0;
      box-shadow: $box-shadow--light;
    }

    // Unchecked
    &::before {
      content: " ";
      background-color: $white;
      border-color: $grey--light;
    }

    // Checked.
    &::after {
      color: $black;
      border-color: $black;
    }
  }


  [type="checkbox"] {
    &,
    &::before,
    &::after {
      border-radius: $border-radius;
    }

    // Checked.
    &::after {
      content: "\f00c";
      background-color: $black;
      color: $grey--lightest;
      font-size: .7em;
      line-height: 1.3em;
      padding-left: .15em;
    }

    &:hover::after {
      color: $grey--lightest;
      background-color: lighten($black, 10%);
    }
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml;charset=utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20version='1.1'%20height='10px'%20width='15px'><text%20x='0'%20y='10'%20fill='#797c82'>%E2%96%BE</text></svg>");
    background-repeat: no-repeat;
    background-size: 1.5em 1em;
    background-position: right center;
  }

  [type="radio"] {
    &,
    &::before,
    &::after {
      border-radius: 1em;
    }

    // Checked.
    &::after {
      content: " ";
      border-width: 0.35em;
    }

    &:hover::after {
      border-color: lighten($black, 10%);
    }
  }

  .radio-inline {
    padding-left: 2em;

    > span {
      min-width: 50%;
      @include media(medium-only) {
        min-width: 25%;
      }
      @include media(wide-up) {
        min-width: 20%;
      }
    }

    label.radio {
      padding-left: 0;
      margin-right: 0;
      padding-right: $spacing--horizontal;
    }
  }

  .payment-input {
    position: relative;
    transform: none;
    left: 0;
    right: 0;
    top: 0;
    padding: 1.5rem 0.75rem;
  }

  .row-fluid {
    display: flex;

    > * {
      flex: 1;
    }

    > * + * {
      padding-left: $spacing--horizontal / 2;
      @include media(medium-up) {
        padding-left: $spacing--horizontal;
      }
    }
  }
}