@import "../theme";

.top-hero,
.misc-block .misc-block-item:last-child,
.connect-block {
  display: none;
}

.misc-block {
  padding-top: 0;
  background-color: $grey--lightest;
  &-item {
    display: block;
    margin: 0;
    padding: ($spacing--vertical * 2) $spacing--horizontal;
    @include media(medium-up) {
      max-width: 50rem;
    }
    h3.block-headline {
      color: $black;
    }
    form.signup_form {
      padding: 0;
      margin: 0;
    }
  }
}

.contact-block {
  background-color: $grey--light;
  a:not(.btn) {
    color: $black;
  }
}

.form-grid-left, .form-grid-right {
  @include media(medium-up) {
    grid-gap: $spacing--horizontal;
  }
}

.main {
  padding-top: $navbar--height--small;
  padding-bottom: 0;
  padding-left: $spacing--horizontal;
  padding-right: $spacing--horizontal;

  @include media(medium-up) {
    padding-top: $navbar--height--wide;
  }

  @include media(wide-up) {
    padding-left: calc(50vw - #{50rem + $spacing--horizontal});
    padding-right: calc(50vw - #{50rem + $spacing--horizontal});
  }
}

.modal-modal {
  .close-button {
    background-color: transparent;
    border-width: 0;
    box-shadow: none;
    top: 1.5rem;
    right: 1.5rem;
  }

  .modal-content {
    padding: ($spacing--vertical * 2) ($spacing--horizontal * 2);
    border-radius: $border-radius;
    background-color: $grey--lightest;
    box-shadow: $box-shadow--light;

    * {
      @include font;
    }

    .headline-line{
      @include heading-size(2);
      font-weight: $font-weight--heading;
    }

    .share-buttons {
      .btn {
        margin: $spacing--vertical ($spacing--horizontal / 2) 0;
        display: block;

        @include media(medium-up) {
          display: inline-block;
        }
      }
      .fas {
        font-family: $icon-font;
      }
      .fab {
        font-family: $icon-font--brands;
      }
    }

  }
}