@import "../theme";

.top-hero,
.misc-block .misc-block-item:last-child,
.connect-block {
  display: none;
}

.misc-block {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: $grey--lightest;
  &-item {
    display: block;
    margin: 0;
    padding: ($spacing--vertical * 2) $spacing--horizontal;
    @include media(medium-up) {
      max-width: 50vw;
    }
    h3.block-headline {
      color: $black;
    }
    form.signup_form {
      padding: 0;
      margin: 0;
    }
  }
}

.contact-block {
  background-color: $grey--light;
  a:not(.btn) {
    color: $black;
  }
}

.form-grid-left, .form-grid-right {
  @include media(medium-up) {
    grid-gap: $spacing--horizontal;
  }
}

.main {
  padding-top: $navbar--height--small;
  padding-bottom: 0;
  padding-left: $spacing--horizontal;
  padding-right: $spacing--horizontal;

  @include media(medium-up) {
    padding-top: $navbar--height--wide;
  }

  @include media(wide-up) {
    padding-left: calc(50vw - #{50rem + $spacing--horizontal});
    padding-right: calc(50vw - #{50rem + $spacing--horizontal});
  }
}
