@import "../theme";
@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,900');

html {
  font-size: 10px;
}

body {
  @include font;
  font-size: 10px;
  background: $white;
}

a {
  .panel-heading &,
  .well &,
  .theme-primary &,
  & {

    &:not(.btn),
    & {
      color: $black;

      &:hover,
      &:focus,
      &:active {
        outline: none;
        color: $primary;
      }
    }
  }
}

.v2-theme .body {
  * {
    @include font;
  }

  p.leader {
    @include heading-size(4)
  }

  strong {
    font-weight: $font-weight--heading;
  }

  .fas {
    font-family: $icon-font;
  }

  @for $i from 1 through 6 {
    h#{$i}, .h#{$i} {
      color: $primary;
      @include font(heading);
      @include heading-size($i);
    }
  }

  a {
    &,
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  ul {
    list-style: none
  }

  ul li::before {
    content: "◼";
    color: $primary;
    display: inline-block;
    font-size: 0.6em;
    width: 1.5rem;
    margin-left: -1rem;
    vertical-align: .2rem;
  }

  ol {
    list-style: none;
    counter-reset: li;
  }

  ol li {
    counter-increment: li;
  }

  ol li::before {
    content: counter(li);
    color: $primary;
    display: inline-block;
    font-weight: 100;
    font-size: $spacing--vertical;
    width: 1.5rem;
    vertical-align: -0.4rem;
    margin-left: -1.5rem;
    margin-right: 1rem;
    text-align: right;
    direction: rtl;
  }
}

.panel-heading,
.well,
.theme-primary {
  background-color: transparent;
}

.btn {
  .navbar-buttons &.btn-default,
  &.btn-default,
  &.btn-primary,
  &.submit-button {
    border-radius: $border-radius;
    border-width: 1px;
    transition: background-color 0.4s, box-shadow 0.4s;
    box-shadow: $box-shadow--light;
    text-decoration: none !important;
    text-transform: none !important;
    &:hover, &:focus {
      box-shadow: $box-shadow;
      outline-width: 0;
      text-decoration: underline;
    }
  }

  .navbar-buttons &.btn-default,
  &.btn-default,
  &.submit-button {
    border-color: darken($secondary, 5%);
    background-color: $secondary;
    &:hover, &:focus {
      background-color: lighten($secondary, 5%);
      border-color: darken($secondary, 5%);
    }
  }

  &.btn-primary {
    border-color: darken($primary, 5%);
    background-color: $primary;
    color: $black;
    &:hover, &:focus {
      background-color: lighten($primary, 10%);
      border-color: darken($primary, 5%);
    }
  }

  &.btn-lg {
    @include heading-size(3);
    font-weight: $font-weight--heading;
  }

  &.btn-block {
    margin-top: $spacing--vertical;
    @include media(medium-up) {
      max-width: 50vw;
      margin-left: auto;
      margin-right: auto;
    }
    @include media(wide-up) {
      max-width: 33vw;
    }
  }
}

.rj2019--textblock {
  margin-top: $spacing--vertical * 2;
  margin-bottom: $spacing--vertical * 2;
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}


.panel.panel-default {
  @include form-style;
  .panel-body,
  .panel-heading,
  .panel-body form {
    background-color: transparent;
    border-width: 0;
    padding: 0;
    margin: 0;
  }
}
