@import "../theme";


.rj2019--blockquote {
  background-color: $secondary;
  padding-top: $spacing--vertical;
  padding-bottom: $spacing--vertical;
  border-left: 0;
  margin: $spacing--vertical  #{-$spacing--horizontal};
  position: relative;

  & #{&}--content {
    color: $white;
    @include heading-size(4);
  }

  & #{&}--content-large {
    @include heading-size(2);
    line-height: 1.5;
    font-weight: $font-weight--light;
  }

  &__right {
    @include rj2019-border(left);
    @include media(medium-up) {
      margin-left: 0;
    }
    @include media(wide-up) {
      margin-right: calc(#{50rem + $spacing--horizontal} - 50vw);
    }

    .rj2019--blockquote--content,
    .rj2019--blockquote--citation {
      @include media(wide-up) {
        margin-right: calc(50vw - #{50rem + $spacing--horizontal});
      }
    }
  }

  &__left {
    @include rj2019-border(right);
    @include media(medium-up) {
      margin-right: 0;
    }

    @include media(wide-up) {
      margin-left: calc(#{50rem + $spacing--horizontal} - 50vw);
    }
    .rj2019--blockquote--content,
    .rj2019--blockquote--citation {
      @include media(wide-up) {
        margin-left: calc(50vw - #{50rem + $spacing--horizontal});
      }
    }
  }


  & #{&}--citation {
    color: $white;
    padding-left: $spacing--horizontal + 2rem;
    position: relative;

    &::after {
      height: .1rem;
      background: $white;
      content: '';
      width: 2rem;
      position: absolute;
      transform: translateX(-50%);
      left: $spacing--horizontal;
      bottom: 50%;
    }
  }

  &--image {
    margin: -$spacing--vertical  -$spacing--horizontal;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
}