@import "../theme";

.rj2019--cta {
  @include full-width;
  background: $secondary;
  color: $white;
  padding-bottom: $spacing--vertical;
  margin-top: $spacing--vertical;

  &--content {
    padding-left: $spacing--horizontal;
    padding-right: $spacing--horizontal;

    @include media(wide-up) {
      padding-left: calc(55vw - #{500px - 15px}) ;
      padding-right: calc(55vw - #{500px - 15px}) ;
    }
  }

  &--copy {
    @include media(medium-up) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    > * {
      margin-bottom: 0;
    }
  }

  &--logo {
    overflow: hidden;
    margin-top:0;
    height: $spacing--vertical + 12.3rem;

    @include media(medium-up) {
      width: 50%;
    }
  }

  &--logo-svg {
    transform: translateY(calc(#{$spacing--vertical} - 44%));
  }

  &--subheading {
    @include media(medium-up) {
      width: calc(50% - #{$spacing--horizontal / 2});
    }
    @include media(wide-up) {
      width: calc(50% - #{$spacing--horizontal});
    }
  }

  & h3.rj2019--cta--subheading {
    color: $white;
    font-weight: $font-weight;
    @include heading-size(2);
    margin-top: $spacing--vertical / 3;

    @include media(medium-only) {
      font-size: 2.7rem;
      margin-bottom: 1rem;
    }
  }
}
