@import "../theme";

.rj2019--cta {
  @include full-width;
  background: $secondary;
  color: $white;
  padding-bottom: $spacing--vertical;
  margin-top: $spacing--vertical;

  &--content {
    padding-left: $spacing--horizontal;
    padding-right: $spacing--horizontal;

    @include media(medium-only) {
      padding-left: calc(50vw - #{43rem - $spacing--horizontal});
      padding-right: calc(50vw - #{43rem - $spacing--horizontal});
    }

    @include media(wide-up) {
      padding-left: calc(55vw - #{50rem - $spacing--horizontal});
      padding-right: calc(55vw - #{50rem - $spacing--horizontal});
    }
  }

  &--copy {
    @include media(medium-up) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    > * {
      margin-bottom: 0;
    }
  }

  &--logo {
    margin-top: -1px;
    text-align: left;

    @include media(medium-up) {
      height: $spacing--vertical + 12.3rem;
      width: calc(50% - #{-$spacing--horizontal} );
      padding-left: $spacing--horizontal;
    }
  }

  &--logo-svg {
    max-height: 100%;
  }

  &--subheading {
    text-align: center;
    @include media(medium-up) {
      width: calc(50% - #{$spacing--horizontal * 2});
      text-align: left;
    }
  }

  & h3.rj2019--cta--subheading {
    color: $white;
    font-weight: $font-weight;
    margin-top: $spacing--vertical;
    font-size: 3.4rem;
    line-height: 1.2em;
    
    @include media(medium-up) {
      margin-top: $spacing--vertical / 3;
      margin-bottom: .6rem;
    }
  }
}
