@import "../theme";

.rj2019--photo {
  &__left,
  &__right,
  & {
    margin: $spacing--vertical  auto;
    display: block;
    @include rj2019-border;
    height: auto;

    .rj2019--textblock--title + & {
      @include media(medium-up) {
        margin-top: -6rem;
      }
    }
  }

  &__left {
    @include media(medium-up) {
      float: left;
      margin: 0.5rem ($spacing--horizontal / 2) ($spacing--vertical / 2) 0;
    }
    @include media(wide-up) {
      max-width: 40%;
    }
  }

  &__right {
    @include media(medium-up) {
      max-width: 50%;
      float: right;
      margin: 0.5rem 0 ($spacing--vertical / 2) ($spacing--horizontal / 2);
    }

    @include media(wide-up) {
      max-width: 40%;
    }
  }
}