@import "../theme.scss";

.donation_form {
  .row-fluid {
    padding-bottom: $spacing--vertical;

    &.padbottomless {
      padding-bottom: 0;
    }

    + .row-fluid.padbottomless {
      padding-top: $spacing--vertical;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }
    h4 {
      font-weight: $font-weight;
    }

  label.input {
    display: block;
    font-size: 1.25rem;
    color: $grey;
    margin-bottom: 0;
  }

  label.checkbox {
    padding-left: 2.25rem;
    margin-bottom: 0;
  }

  select,
  input.text {
    width: 100%;
    display: block;
    height: 4rem;
    line-height: 4rem;
    padding-left: 1rem;
  }


  #donation_billing_address_address1,
  #donation_billing_address_address2,
  #donation_billing_address_address3 {
    margin-bottom: .5rem;
  }

  .donation-v2 {
    &-amounts,
    &-occurence-radio {
      justify-content: left;
    }

    &-amounts {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &-options {
      padding-bottom: 0;
    }
  }

  .donation-other-input-container {
    .currency-symbol {
      position: absolute;
      left: 0;
      width: 1.5rem;
      line-height: 4.5rem;
      text-align: center;
    }
  }

  #donation_amount_other_input {
    border-color: transparent;
    background-color: transparent;
    padding-left: 1.5rem;
    &:focus {
      border-color: $secondary;
      background-color: $white;
    }
  }

  .submit-container {
    max-width: 30em;
    margin: 0 auto;

    .donation-v2-amount span {
      @include heading-size(2);
    }

    .donation-v2-amount {
      padding-bottom: $spacing--vertical;
    }

    .submit-button {
      display: block;
      width: 100%;
    }
  }
}

.donate-grid {
  display: flex;
  flex-wrap: wrap;

  &--content__top {
    @include media(medium-up) {
      flex: 0 0 50%;
    }
  }

  &--content__wide {
    @include media(medium-up) {
      flex: 0 0 100%;
    }
  }

  &--content__bottom {
    order: 2;
    padding: $spacing--vertical 0;
    @include media(medium-up) {
      order: 0;
      flex: 0 0 50%;
      > * {
        padding-left: $spacing--horizontal;
      }
    }
  }
}