// Index
@import "../theme.scss";

.rj2019--hero {
  @include full-width;
  overflow: hidden;

  @include media(medium-only) {
    max-height: 36rem;
  }

  @include media(wide-up) {
    background-color: $grey--lightest;
    max-height: 58rem;
  }

  #{&}--image {
    @include media(medium-up) {
      width: 100%;
      max-width: 1600px;
      margin: -2rem auto 0;
      display: block;
    }
  }

  #{&}--content {
    padding: $spacing--vertical $spacing--horizontal;
    background-color: $secondary;
    @include rj2019-border;
    color: $white;
    @include heading-size(3);

    *:last-child {
      margin-bottom: 0;
    }

    @include media(medium-up) {
      width: 33vw;
      position: absolute;
      right: $spacing--horizontal;
      z-index: 1;
      top: 0;
      box-shadow: $box-shadow--light;
    }

    @include media(wide-up) {
      right: calc(50vw - 480px);
      width: 30rem;
    }
  }
}

.rj2019--pageheader {
  .rj2019--pageheader--subheading {
    display: block;
    margin: 0 0;

    @include media(medium-up) {
      font-size: 1em !important;;
      display: inline;
    }
  }
}