// Index
@import "../theme.scss";

.rj2019--hero {
  @include full-width;
  overflow: hidden;

  @include media(wide-up) {
    max-height: 80vh;
  }

  #{&}--image {
    @include media(wide-up) {
      width: 100%;
    }
  }

  #{&}--content {
    padding: $spacing--vertical $spacing--horizontal;
    background-color: $white;
    @include rj2019-border;
    color: $secondary;
    font-weight: $font-weight--medium;
    @include heading-size(3);

    *:last-child {
      margin-bottom: 0;
    }

    @include media(medium-up) {
      width: 33vw;
      position: absolute;
      left: $spacing--horizontal / 2;
      z-index: 1;
      top: 0;
      box-shadow: $box-shadow--light;
    }

    @include media(wide-up) {
      left: calc(50vw - 480px);
      width: 30rem;
    }
  }
}
