@import "../theme.scss";

.page-slug-join {
  .misc-block {
    display: none;
  }

  .theme-panel.form-grid-form-content {
    @include form-full-width();
    box-shadow: none;

    > * {
      padding: 0;
      margin-bottom: 0;
    }

    .row {
      display: block;
      [class^="col-"], [class*=" col-"] {
        width: 100%;
        float: none !important;
      }

      #signup_first_name_container {
        width: calc(50% - #{$spacing--horizontal / 2});
        display: inline-block;
      }
      #signup_last_name_container {
        width: calc(50% - -#{$spacing--horizontal / 3});
        display: inline-block;
      }
    }

    .form-group-checkbox.checkbox {
      padding-left: 1.5em;
      span {
        padding-left: 0.2em;
      }
    }

    .form-submit-row {
      padding-top: $spacing--vertical;
    }

  }
  .form-grid {
    padding-bottom: $spacing--vertical;
    @include media(medium-up) {
      padding-bottom: $spacing--vertical * 2;
    }
  }
}

.flash-share.panel {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: $box-shadow--light;

  @include media(medium-up) {
    margin-left: $spacing--horizontal;
    margin-right: $spacing--horizontal;
  }

  @include media(small-only) {
    .submit-button {
      margin-top: $spacing--vertical;
    }

    .text-right{
      text-align: inherit;
    }

    .flash-close,
    .submit-button {
      display:inline-block;
      width: 100%;
      text-align: center;
    }
  }

  form > .row:last-child {
    @include media(medium-up) {
      .col-md-6:nth-child(2) {
        grid-column-start: 10;
        grid-column-end: 11;
      }
      .col-md-6:nth-child(3) {
        grid-column-start: 11;
        grid-column-end: 13;
      }
    }

    .submit-button {
      margin-right: -5rem;
      min-width: 10rem;
    }
  }
}