@import "../theme";

.rj2019--photo {
  &__left,
  &__right,
  & {
    margin-bottom: $spacing--vertical;
    margin-top: $spacing--vertical;
    @include rj2019-border;
    height: auto;

    .rj2019--textblock--title + & {
      @include media(medium-up) {
        margin-top: -6rem;
      }
    }
  }

  &__left {
    @include media(medium-up) {
      float: left;
      margin-top: 0.5rem;
      margin-left: $spacing--horizontal / 2;
      margin-bottom: $spacing--vertical / 2;
    }
    @include media(wide-up) {
      max-width: 40%;
    }
  }

  &__right {
    @include media(medium-up) {
      max-width: 50%;
      float: right;
      margin-top: 0.5rem;
      margin-left: $spacing--horizontal / 2;
      margin-bottom: $spacing--vertical / 2;
    }

    @include media(wide-up) {
      max-width: 40%;
    }
  }
}