@import "./theme.scss";

.top-hero,
.misc-block,
.connect-block {
  display: none;
}

.contact-block {
  background-color: $grey--light;
}

.rj2019--hero {
  @include full-width;
  max-height: 80vh;
  overflow: hidden;

  #{&}--image {
    transform: translateY(-10%);
    width: 100%;
  }

  #{&}--content {
    width: 30rem;
    position: absolute;
    top: 1rem;
    z-index: 1;
    padding: $spacing--vertical $spacing--horizontal;
    background-color: $secondary--dark;
    border-bottom: 0.5rem solid $primary;
    box-shadow: $box-shadow--light;

    @include media(medium-up) {
      left: calc(50vw - 480px);
    }

    * {
      color: $black;
    }
  }
}

