// Colours
$black: #393939;
$grey: #5D5D5D;
$grey--light: #E1E1E1;
$grey--lightest: #EDEDED;
$white: #FFF;

$primary: rgba(235,141,61, 1);
$primary--transparent: rgba(235,141,61, .7);
$secondary: $grey;
$warning: #fcf6e9;

$max-width: 720px;
$box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
$box-shadow--light: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
$box-shadow--page: 0 1.2rem 2.4rem 0 rgba(0, 0, 0, 0.09);

$border-radius: 0.2rem;

$spacing--horizontal: 3rem;
$spacing--vertical: 2.4rem;

@mixin media($media) {
  $break-small: 767px;
  $break-large: 1200px;

  @if $media == small-only {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-down {
    @media only screen and (max-width: $break-large - 1) { @content; }
  }

  @else if $media == medium-only {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == medium-up {
    @media only screen and (min-width: $break-small + 1) { @content; }
  }
  @else if $media == wide-up {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}
