@charset "UTF-8";
@font-face {}
html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

main {
  max-width: 720px;
  margin: 2.4rem auto;
}

body {
  font-size: 1.5rem;
  line-height: 2;
  background: #FFF;
}

a {
  color: #393939;
}
a:hover, a:active {
  color: #EB8D3D;
}

.body {
  padding: 0 1.5rem;
}
.body h1, .body .h1 {
  color: #EB8D3D;
}
.body h2, .body .h2 {
  color: #EB8D3D;
}
.body h3, .body .h3 {
  color: #EB8D3D;
}
.body h4, .body .h4 {
  color: #EB8D3D;
}
.body h5, .body .h5 {
  color: #EB8D3D;
}
.body h6, .body .h6 {
  color: #EB8D3D;
}
.body ul {
  list-style: none;
}
.body ul li::before {
  content: "◼";
  color: #EB8D3D;
  display: inline-block;
  font-size: 0.6em;
  width: 1.5rem;
  margin-left: -1rem;
  vertical-align: 0.2rem;
}
.body ol {
  list-style: none;
  counter-reset: li;
}
.body ol li {
  counter-increment: li;
}
.body ol li::before {
  content: counter(li);
  color: #EB8D3D;
  display: inline-block;
  font-weight: 100;
  font-size: 2.4rem;
  width: 1.5rem;
  vertical-align: -0.4rem;
  margin-left: -1.5rem;
  margin-right: 1rem;
  text-align: right;
  direction: rtl;
}

.navbar-buttons .btn.btn-default, .btn.btn-default, .btn.submit-button {
  border-radius: 0.2rem;
  border-width: 1px;
  border-color: #505050;
  background-color: #5D5D5D;
  transition: background-color 0.4s, box-shadow 0.4s;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}
.navbar-buttons .btn.btn-default:hover, .navbar-buttons .btn.btn-default:focus, .btn.btn-default:hover, .btn.btn-default:focus, .btn.submit-button:hover, .btn.submit-button:focus {
  background-color: #393939;
  border-color: #393939;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
  outline-width: 0;
}

form {
  background: #EDEDED;
  border-radius: 0.2rem;
  padding: 2.4rem 3rem;
  margin: 2.4rem auto;
}
form .form-group > select,
form .form-control {
  border-radius: 0.2rem;
  border: 0.1rem solid #E1E1E1;
}
form .form-group > select:focus,
form .form-control:focus {
  border-color: #5D5D5D;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}
form .form-submit-row {
  margin-top: 2.4rem;
}
form .form-errors ul {
  margin-bottom: 2.4rem;
  padding: 0;
}
form .form-errors ul li {
  background-color: #fcf6e9;
  border: 1px solid #f9edd3;
  border-radius: 0.2rem;
  padding: 1.2rem 1.5rem;
}
form .form-errors ul li + li {
  margin-top: 2.4rem;
}
form .form-errors ul li::before {
  content: "✖";
  margin-left: 0;
  font-size: 0.9em;
  margin-right: 0.25em;
  vertical-align: inherit;
}
form .form-group {
  margin-bottom: 2.4rem;
}
form [type=checkbox],
form [type=radio] {
  overflow: hidden;
  width: 1em;
  height: 1em;
}
form [type=checkbox]::before, form [type=checkbox]::after,
form [type=radio]::before,
form [type=radio]::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 1px solid transparent;
}
form [type=checkbox]:focus,
form [type=radio]:focus {
  outline: 0;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}
form [type=checkbox]::before,
form [type=radio]::before {
  content: " ";
  background-color: #FFF;
  border-color: #E1E1E1;
}
form [type=checkbox]::after,
form [type=radio]::after {
  color: #393939;
  border-color: #393939;
}
form [type=checkbox], form [type=checkbox]::before, form [type=checkbox]::after {
  border-radius: 0.2rem;
}
form [type=checkbox]::after {
  content: "";
  background-color: #393939;
  color: #EDEDED;
  font-size: 0.7em;
  line-height: 1.3em;
  padding-left: 0.15em;
}
form [type=checkbox]:hover::after {
  color: #EDEDED;
  background-color: #535353;
}
form [type=radio], form [type=radio]::before, form [type=radio]::after {
  border-radius: 1em;
}
form [type=radio]::after {
  content: " ";
  border-width: 0.35em;
}
form [type=radio]:hover::after {
  border-color: #535353;
}

.navbar {
  background: #EB8D3D;
  box-shadow: 0 1.2rem 2.4rem 0 rgba(0, 0, 0, 0.09);
}
.navbar-header, .navbar-logo, .navbar a, .navbar a:hover, .navbar a:focus, .navbar button:hover, .navbar button:focus {
  background: none;
  border: none;
  box-shadow: none;
}

.navbar-links.navbar-main {
  align-items: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.navbar-links > li {
  margin-left: 0;
}
.navbar-links a,
.navbar-links button {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.6rem;
  border: 0;
  cursor: pointer;
  position: relative;
}
.navbar-links a:after,
.navbar-links button:after {
  height: 0.2rem;
  background: #393939;
  content: "";
  width: 0;
  position: absolute;
  transform: translateX(-50%);
  transition: width 0.4s;
  transition-timing-function: cubic-bezier(1, -0.65, 0, 2.31);
  left: 50%;
  bottom: 1rem;
}
.navbar-links a:hover, .navbar-links a:focus,
.navbar-links button:hover,
.navbar-links button:focus {
  outline: none;
  color: #393939;
}
.navbar-links a:hover:after, .navbar-links a:focus:after,
.navbar-links button:hover:after,
.navbar-links button:focus:after {
  width: calc(100% - 5rem);
}
@media (max-width: 700px) {
  .navbar-links a:hover, .navbar-links a:focus,
.navbar-links button:hover,
.navbar-links button:focus {
    width: calc(100%);
  }
}

@media only screen and (min-width: 768px) {
  .navbar-buttons {
    padding-right: 1.5rem;
  }
}

.site-header {
  padding: 2.4rem 3rem;
  height: 60px;
}

/*# sourceMappingURL=styles.css.map */
