<%- include('partials/hero') %>

<h1>Climate Crisis</h1>
<article class="rj2019--textblock">
    <p class="leader">Climate change is tangible and real, and its effects are going to reinforce existing inequalities across the planet. Canada has the power and responsibility to be a global leader on climate solutions.</p>
    <p>The international community has committed to addressing climate change through a global accord to cut carbon pollution called the Paris Agreement. For it to succeed, every country needs to take action.</p>
    <p>But Canada is not meeting its obligations. The Liberal government has reversed course on its pledge to end fossil fuel subsidies, choosing instead to spend $4.5 billion on an oil sands pipeline to prop up a failing industry.</p>
    <p>I believe there is a better path for our country. We need bold investments in good green jobs across the country and in our community. We need a federal commitment to a just transition from oil and gas to a clean economy.</p>
    <p>I believe we can take action to avert a climate catastrophe, but we can no longer take small steps. Personally, I’ve helped kickstart a resident-led climate change initiative. Professionally, I’ve successfully lobbied at the municipal level to secure funding to fight the impacts of climate change in our city.</p>
</article>

<div class="rj2019--blockquote rj2019--blockquote__left">
    <p class="rj2019--blockquote--content">Ravi’s plan reminds us all that we can turn the tide on the climate crisis with an inclusive and ambitious plan to build a clean energy future.</p>
    <p class="rj2019--blockquote--content">Ravi will be a strong Member of Parliament for our community and a desperately needed voice for bold climate action in Ottawa.</p>
    <p class="rj2019--blockquote--citation">Patrick DeRochie, <br/>Climate and Energy Campaigner, Riverdale Resident & NDP Member</p>
    <img class="rj2019--blockquote--image" src="https://d3n8a8pro7vhmx.cloudfront.net/ravijoshi/pages/30/attachments/original/1550018869/patric_derochie_headshot.jpg?1550018869" alt="" />
</div>

<article class="rj2019--textblock">
    <h2>As your Member of Parliament:</h2>
    <ul>
        <li>I will support and strengthen a price on carbon and I will work to end tax breaks and subsidies for fossil fuel production and redirect the savings to public transit, energy efficiency, home and building retrofits, and renewables.</li>
        <li>I will oppose any energy project that doesn’t meet Canada’s climate obligations under the Paris Agreement. We need to invest in a clean economy that leaves no worker or community behind and I will push for the Paris targets to be incorporated fully into our environmental review process.</li>
        <li>I will continue to support initiatives like <a href="https://www.facebook.com/transformcarlaw/" rel="_nofollow">TransformCarlaw</a> and <a href="http://www.thepocket.ca/pocket-projects/pocket-change-project/" rel="_nofollow">Pocket Change</a> to transform our community with green transportation, renewables and energy efficiency.</li>
        <li>I will fight for funding to deal with the impacts of climate change in our community, such as extreme weather events and basement flooding.</li>
        <li> I will campaign for Canada to endorse international guidelines for the just treatment of climate refugees forced from their home regions by the effects of climate change</li>
    </ul>
</article>

<%- include('partials/cta') %>