
    <div id="flash_container">


    </div>



    <div class="content-pages-show-event-wide">



        <ol class="breadcrumbs breakout theme-default-secondary">

            <li><a href="/events">Events</a></li>

            <li><strong>Hastings House Party</strong></li>
        </ol>


        <div class="event-details breakout theme-default-secondary">
            <div class="event-detail">
                <div class="event-detail-item">
                    <span class="fa-fw fas fa-calendar-alt emphasis"></span>
                    <span class="sr-only">When</span>

                    <strong>Feb 19, 2019</strong> at
                    6:30pm -



                    9pm
                </div>


                <div class="event-detail-item">
                    <span class="fa-fw fas fa-map-marked emphasis"></span>
                    <span class="sr-only">Where</span>

                    <div class="event-detail-item-multiline">

                        <a href="">
                            Greg + Garth's House</a>,

                        <br>



                        ,
                        ,

                    </div>
                </div>



            </div>



            <div class="event-detail">
                <strong>Add to:</strong>

                <div class="event-detail-item">
                    <a href="data:text/calendar;charset=utf8,BEGIN%3AVCALENDAR%0AVERSION%3A2.0%0ABEGIN%3AVEVENT%0AURL%3Ahttps%3A%2F%2Fwww.ravifordanforth.ca%2Fhastings_meet_and_greet%0ADTSTART%3A20190219T183000%0ADTEND%3A20190219T210000%0ASUMMARY%3ARavi%20Joshi%20for%20Toronto%E2%80%94Danforth%20-%20Hastings%20House%20Party%0ALOCATION%3AGreg%20%2B%20Garth%27s%20House%2C%20%0AEND%3AVEVENT%0AEND%3AVCALENDAR" download="event.ics">
                        <span class="fa-fw fas fa-calendar-plus"></span>
                        Calendar
                    </a>
                </div>

                <div class="event-detail-item">
                    <a href="https://www.google.com/calendar/render?action=TEMPLATE&amp;text=Ravi+Joshi+for+Toronto%E2%80%94Danforth+-+Hastings+House+Party&amp;dates=20190219T183000/20190219T210000&amp;details=More+details+here%3A+https%3A%2F%2Fwww.ravifordanforth.ca%2Fhastings_meet_and_greet&amp;location=Greg+%2B+Garth%27s+House%2C+&amp;sf=true&amp;output=xml" target="_blank">
                        <span class="fa-fw fab fa-google"></span>
                        Google Calendar
                    </a>
                </div>
            </div>


        </div>

        <!-- /_pages-event_details.html -->







        <!-- _pages-form.html -->

        <!-- _pn-page-tags.html -->






































        <!-- /_pn-page-tags.html -->







        <div class="form-grid form-grid-right ">


            <div class="form-grid-content">
                <!-- _intro.html -->


                <!-- /_intro.html -->


                <!-- _pn-faq-child.html -->


                <!-- /_pn-faq-child.html -->


            </div>




            <div class="form-grid-form">
                <div class="form-grid-form-content theme-panel theme-primary">

                    <!-- _pn-squeeze_content.html -->


                    <!-- /_pn-squeeze_content.html -->













                    <h4>Hi Erin, will you come?</h4>



                    <form id="hastings_meet_and_greet_page_new_event_rsvp_form" class="ajaxForm event_rsvp_form" method="POST" action="/forms/event_rsvps"><input name="authenticity_token" type="hidden" value="1oOgbqq6IU34Uwm+V+zG2KAv0nafX+tx7IFnB4OzEa4="><input name="page_id" type="hidden" value="27"><input name="return_to" type="hidden" value="https://www.ravifordanforth.ca/hastings_meet_and_greet"><div class="email_address_form" style="display:none;" aria-hidden="true"><p><label for="email_address">Optional email code</label><br><input name="email_address" type="text" class="text" id="email_address" autocomplete="off"></p></div>

                        <div class="form-errors"></div>


                        <!-- _pn-forms_name-email.html -->

                        <!-- _pn-forms_name.html -->


                        <div class="row">

                            <div class="col-xs-6" id="event_rsvp_first_name_container">
                                <div class="form-group">
                                    <label for="event_rsvp_first_name">First Name</label>
                                    <input class="text form-control" id="event_rsvp_first_name" name="event_rsvp[first_name]" type="text" value="Erin">
                                </div>
                            </div>

                            <div class="col-xs-6" id="event_rsvp_last_name_container">
                                <div class="form-group">
                                    <label for="event_rsvp_last_name">Last Name</label>
                                    <input class="text form-control" id="event_rsvp_last_name" name="event_rsvp[last_name]" type="text" value="Marchak">
                                </div>
                            </div>

                        </div>

                        <!-- /_pn-forms_name.html -->


                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="event_rsvp_email">Email</label>
                                    <input class="text form-control" id="event_rsvp_email" name="event_rsvp[email]" type="email" value="erin@emarchak.com">

                                    <div class="form-group-checkbox checkbox">
                                        <label for="event_rsvp_email_opt_in">
                                            <input name="event_rsvp[email_opt_in]" type="hidden" value="0"><input class="checkbox" checked="checked" id="event_rsvp_email_opt_in" name="event_rsvp[email_opt_in]" type="checkbox" value="1">
                                            <span>Send me email updates</span>
                                        </label>
                                    </div>

                                </div>
                            </div>


                        </div>

                        <!-- /_pn-forms_name-email.html -->


                        <!-- _pn-forms_phone.html -->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="event_rsvp_phone_number">Phone</label>
                                    <input class="text form-control" id="event_rsvp_phone_number" name="event_rsvp[phone_number]" type="tel" value="647-278-1533">
                                </div>
                            </div>

                        </div>


                        <!-- /_pn-forms_phone.html -->




                        <!-- _pn-forms_address.html -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="event_rsvp_submitted_address">Address (Street, City, Province, Postal code) </label>
                                    <input class="text form-control" autocomplete="street-address" id="event_rsvp_submitted_address" name="event_rsvp[submitted_address]" type="text" value="m6g 2s5">
                                </div>
                            </div>
                        </div>

                        <!-- /_pn-forms_address.html -->




                        <!-- _theme-form-fields.html -->

                        <!-- /_theme-form-fields.html -->



                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="event_rsvp_guests_count">How many other people are you bringing?</label>
                                    <input class="text form-control" id="event_rsvp_guests_count" name="event_rsvp[guests_count]" type="text" value="0">
                                </div>
                            </div>
                        </div>





                        <!-- _pn-forms_volunteer.html -->


                        <!-- /_pn-forms_volunteer.html -->





                        <!-- _pn-forms_publish.html -->




                        <!-- /_pn-forms_publish.html -->





                        <!-- _pn-forms_submit.html -->

                        <div class="form-submit-row">

                            <input class=" submit-button btn btn-primary" type="submit" name="commit" value="Send RSVP">


                            <div class="form-submit emphasis"></div>


                        </div>

                        <!-- /_pn-forms_submit.html -->



                    </form>











                </div>
            </div>

        </div>

        <!-- /_pages-form.html -->


        <!-- /_pages-event.html -->




        <!-- /_page_content.html -->





        <!-- /_pages.html -->


    </div>