
<%- include('partials/hero') %>

<article class="rj2019--textblock">
  <h1>Ravi Joshi for Toronto–Danforth</h1>

  <img class="rj2019--photo rj2019--photo__right" alt="Ravi being nice"
       src="http://placekitten.com/g/400/500"
       srcset="http://placekitten.com/g/720/520 520w,
                 http://placekitten.com/g/250/150 250w"
       sizes="(max-width: 767px) 100vw,
                (min-width: 768px) 250px">

  <p>In Toronto-Danforth, young families are wondering how they're going to afford child care and rising housing prices, and plan for the future. Low-income residents have fewer and fewer options to find dignified housing and nutritious food. People like my parents are wondering what kind of future the climate crisis has in store for their grandchildren.</p>

  <p>I am running for MP because Ottawa has lost its way - and I know we can find our way back. We need a voice for Toronto-Danforth in the House of Commons who expects our government to do more. </p>

  <p><a href="/nominate#why" class="btn btn-primary btn-lg">Learn why Ravi is running</a></p>
</article>

  <blockquote class="rj2019--blockquote rj2019--blockquote__left">
    <p class="rj2019--blockquote--content">Vivamus ac nisl mi. Ut a velit at leo imperdiet commodo sit amet sed dolor. Nullam sagittis fringilla lacus non euismod. Sed eu lectus a ipsum lacinia aliquam at ac lacus. Duis ultrices pretium nibh vitae vestibulum. In et sollicitudin nibh. Curabitur semper metus dui. Sed enim dui, gravida in lacinia eget, sagittis ut neque.</p>
    <p class="rj2019--blockquote--citation">Someone important</p>
  </blockquote>

<article class="rj2019--textblock">
  <h2>Ravi Joshi grew up in Toronto-Danforth</h2>

  <img class="rj2019--photo rj2019--photo__left" alt="Ravi being nice"
       src="http://placekitten.com/g/400/500"
       srcset="http://placekitten.com/g/720/520 520w,
                 http://placekitten.com/g/250/150 250w"
       sizes="(max-width: 767px) 100vw,
                (min-width: 768px) 250px">

  <p>Ravi knows how government works - and he knows who government leaves behind. He has seen how public policy can make our communities more fair, and how special interests can get in the way. Ravi is committed to working tirelessly to make the system work for all of us on everything from affordable housing and child care to the climate crisis and out of control income inequality.</p>

  <p><a href="/nominate#about" class="btn btn-primary btn-lg">Learn more about Ravi</a></p>
</article>
<%- include('partials/cta') %>