---
slug: home
---

<%- include('partials/hero') %>

<article class="rj2019--textblock">

    <%- include('partials/photos/headshot', {className: "rj2019--photo__right"}) %>

    <h1>Ravi Joshi for Toronto—Danforth</h1>

    <p>I’ve spent my life fighting for change in our community and across the country. Now, I’m asking for your support to continue this work as your Federal NDP candidate in Toronto-Danforth.</p>
    <p>I grew up in our community and I know our history of electing dedicated, hard-working, progressive leaders. I will not let you down. I’ll knock on doors, talk to neighbours, and make a compelling case for real progress in Ottawa and a Canada that leaves no one behind. </p>

  <p><a href="/why?surface=why#why" class="btn btn-primary btn-lg">Learn why Ravi is running</a></p>
</article>

  <blockquote class="rj2019--blockquote rj2019--blockquote__left">
    <p class="rj2019--blockquote--content rj2019--blockquote--content-large">This is our moment – our chance to make real progress in Ottawa.<br/> Let’s get to work and get the job done.</p>
  </blockquote>

<article class="rj2019--textblock">
  <h2>Ravi has deep roots in Toronto-Danforth.</h2>

  <%- include('partials/photos/family', {className: "rj2019--photo__left"}) %>

  <p>Ravi grew up on Riverdale Ave, as the youngest of three siblings and became involved in his community as a kid helping his dad deliver donations for Riverdale Share.</p>

  <p>Ravi has spent his life making a difference in our community and across the country. As a passionate advocate for a more fair society, Ravi has dedicated his career to fighting inequality and giving a voice to those who are listened to the least.</p>

  <p><a href="/why?surface=about#about" class="btn btn-primary btn-lg">Learn more about Ravi</a></p>
</article>
<%- include('partials/cta') %>