---
slug: home
---

<%- include('partials/hero') %>

<article class="rj2019--textblock">

    <%- include('partials/photos/headshot', {className: "rj2019--photo__right"}) %>

    <h1>Ravi Joshi for Toronto—Danforth</h1>

    <p>I’ve spent my life fighting for change in our community and across the country. Now, I’m asking for your support to continue this work as your Federal NDP candidate in Toronto-Danforth.</p>
    <p>I grew up in our community and I know our history of electing dedicated, hard-working, progressive leaders. I will not let you down. I’ll knock on doors, talk to neighbours, and make a compelling case for real progress in Ottawa and a Canada that leaves no one behind. </p>

  <p><a href="/why?surface=why#why" class="btn btn-primary btn-lg">Learn why Ravi is running</a></p>
</article>

  <blockquote class="rj2019--blockquote rj2019--blockquote__left">
      <p class="rj2019--blockquote--content">When I think about who I want representing our community, I think about someone like Ravi. A strong local organizer who will stand up for what I believe in.</p>
      <p class="rj2019--blockquote--content">I‘m supporting Ravi because he will bring my voice, and the voice of Toronto–Danforth to Ottawa.</p>
      <p class="rj2019--blockquote--citation">Fatima Khan, Toronto–Danforth Youth and Community Organizer</p>
  </blockquote>

<blockquote class="rj2019--blockquote rj2019--blockquote__right">
    <p class="rj2019--blockquote--content">I first met Ravi when I was volunteering with a community group and I continue to be impressed with his dedication and competence. I am confident that as our MP he would stand up for Toronto–Danforth and fight for the important issues we care about.
    <p class="rj2019--blockquote--content">That‘s why I‘m proud to endorse Ravi.</p>
    <p class="rj2019--blockquote--citation">Maggi Redmonds, Toronto–Danforth Community Member</p>
</blockquote>

<article class="rj2019--textblock">
  <h2>Ravi has deep roots in Toronto-Danforth.</h2>

  <%- include('partials/photos/family', {className: "rj2019--photo__left"}) %>

  <p>Ravi grew up on Riverdale Ave, as the youngest of four siblings and became involved in his community as a kid helping his dad deliver donations for Riverdale Share.</p>

  <p>Ravi has spent his life making a difference in our community and across the country. As a passionate advocate for a more fair society, Ravi has dedicated his career to fighting inequality and giving a voice to those who are listened to the least.</p>

  <p><a href="/why?surface=about#about" class="btn btn-primary btn-lg">Learn more about Ravi</a></p>
</article>
<%- include('partials/cta') %>