<div class="rj2019--hero">
  <img class="rj2019--hero--image"
       srcset="https://d3n8a8pro7vhmx.cloudfront.net/ravijoshi/pages/19/attachments/original/1546121520/hero--small--med.jpg?1546121520 720w,
               https://d3n8a8pro7vhmx.cloudfront.net/ravijoshi/pages/19/attachments/original/1546121519/hero--med--med.jpg?1546121519 720w,
               https://d3n8a8pro7vhmx.cloudfront.net/ravijoshi/pages/19/attachments/original/1546121518/hero--full--med.jpg?1546121518 1600w"
       sizes="(max-width: 767px) 100vw,
              (min-width: 768px) and (max-width: 1600px) 100vw,
              (min-width: 1601px) 100vw"
       src="https://d3n8a8pro7vhmx.cloudfront.net/ravijoshi/pages/19/attachments/original/1546121519/hero--med--med.jpg?1546121519" alt="">
  <div class="rj2019--hero--content">
    It's time for Toronto&#8209;Danforth to ask our leaders for more.
    <a class="btn btn-primary btn-block" href="/">Join us</a>
  </div>
</div>

<h1>Hello</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vulputate dolor felis, sed placerat elit imperdiet id. Fusce dignissim urna ante, sit amet molestie libero gravida eget. In elementum et nulla eget dictum. Etiam non molestie urna. Pellentesque ultrices a orci sit amet efficitur. Sed hendrerit tempor mattis. Pellentesque condimentum libero ac placerat semper.</p>

<p>Cras non elit et lorem sagittis venenatis porttitor eget nibh. Pellentesque semper urna eu sagittis dictum. Nulla interdum mattis aliquam. Ut cursus leo vel velit commodo, efficitur vulputate urna tristique. Praesent laoreet ut nibh non interdum. Aliquam euismod eget nunc nec congue. Nullam mattis nulla at lectus venenatis mollis. Donec vestibulum nulla a tellus imperdiet, nec laoreet diam maximus. Donec dictum urna semper arcu tempor blandit.</p>

<p>Vivamus ac nisl mi. Ut a velit at leo imperdiet commodo sit amet sed dolor. Nullam sagittis fringilla lacus non euismod. Sed eu lectus a ipsum lacinia aliquam at ac lacus. Duis ultrices pretium nibh vitae vestibulum. In et sollicitudin nibh. Curabitur semper metus dui. Sed enim dui, gravida in lacinia eget, sagittis ut neque.</p>

<p>Proin auctor scelerisque euismod. Etiam ultrices odio neque, in dapibus odio fringilla nec. Nulla convallis elementum porta. Nullam volutpat neque a nunc iaculis tempus. Proin mi lectus, ullamcorper ac arcu venenatis, porta laoreet augue. Pellentesque gravida metus lectus, ut sollicitudin nisi mollis eu. Aenean eu aliquam nisl. Nullam facilisis enim lacus, vel pharetra nulla venenatis et. Aliquam vitae quam nec turpis convallis tempor sit amet sed odio. Morbi sem tellus, luctus a maximus quis, imperdiet in velit. Nullam pulvinar facilisis elit, faucibus iaculis lectus tempor nec. Maecenas scelerisque dui purus, a volutpat nisi finibus vel.</p>

<p>Donec feugiat ultrices vulputate. Etiam molestie orci ut ante pellentesque, non auctor orci varius. Nulla ultrices tortor et orci hendrerit convallis. Donec dignissim at justo nec ullamcorper. Nullam nec lectus at tortor laoreet euismod. Sed pretium tellus rutrum libero mattis, fermentum finibus lectus dictum. Donec et nisl quam. Pellentesque malesuada eu ipsum sit amet auctor. Donec sed odio finibus neque facilisis euismod non ut ipsum. Duis lacinia metus vel nibh iaculis tincidunt. Mauris rutrum diam augue, vel placerat massa tincidunt ut. Donec tempor diam dui, ac laoreet elit maximus eget. Integer vestibulum at ante a sodales. Nunc facilisis nisi nec nibh ultrices luctus.</p>