---
slug: join
---

<div id="flash_container">


    <div id="flash">
        <div class="flash-share panel panel-default marginbottommore">
            <div class="panel-heading">
                <h3 class="headline panel-title">Welcome!</h3>
            </div>

            <div class="share panel-body">
                Tell all your friends, they should join you! A link will be included.
                <small>(<span id="face-tweet-content-charsleft">220</span> chars left)</small>
                <div class="form padtopless">
                    <form id="join_page_new_face_tweet_form" class="ajaxForm face_tweet_form" method="POST" action="/forms/face_tweets"><input name="authenticity_token" type="hidden" value="eZg3MHqnhbxK1gghLIsUF2bKoQM1b+zZDudYVl85TFw="><input name="page_id" type="hidden" value="23"><input name="return_to" type="hidden" value="https://action.ravijoshi.ca/join"><div class="email_address_form" style="display:none;" aria-hidden="true"><p><label for="email_address">Optional email code</label><br><input name="email_address" type="text" class="text" id="email_address" autocomplete="off"></p></div>
                        <input id="face_tweet[page_id]" name="face_tweet[page_id]" type="hidden" value="23">
                        <div class="form-errors"></div>
                        <div class="row">
                            <div class="col-md-12"><div class="form-group"><input class="face-tweet-content share-url text form-control" id="face_tweet_content" name="face_tweet[content]" type="text" value="Check out Ravi Joshi. I just joined."></div></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="checkbox"><label for="face_tweet_is_twitter" class="checkbox"><input name="face_tweet[is_twitter]" type="hidden" value="0"><input class="checkbox" id="face_tweet_is_twitter" name="face_tweet[is_twitter]" type="checkbox" value="1"> Tweet</label></div>
                                                <div class="checkbox"><label for="face_tweet_is_facebook" class="checkbox"><input name="face_tweet[is_facebook]" type="hidden" value="0"><input class="checkbox" checked="checked" id="face_tweet_is_facebook" name="face_tweet[is_facebook]" type="checkbox" value="1"> Post on Facebook</label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="float text-right"><input class="submit-button btn btn-primary" type="submit" name="commit" value="Post"></div>
                                    </div>
                                    <div class="col-md-6 padtopless">
                                        <div class="float text-right">
                                            <small><a href="#" class="flash-close">No Thanks</a></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="content-pages-show-signup-wide">

    <h1>Be a part of it</h1>


    <div class="form-grid form-grid-right ">


        <div class="form-grid-content">
            <!-- _intro.html -->

            <div class="intro">
                <div class="text-content">
                    <p><%- include('partials/photos/talk', {className: "rj2019--photo"}) %></p>
                    <div class="rj2019--blockquote rj2019--blockquote__left">
                        <p class="rj2019--blockquote--content">This is our moment – our chance to make real progress in Ottawa.<br> Let’s get to work and get the job done.</p>
                    </div>
                    <div class="rj2019--textblock visible-xs-block">
                        <a class="btn btn-primary btn-block btn-lg" href="#join_page_new_signup_form">Sign up now</a>
                    </div>

                    <article class="rj2019--textblock">

    <p class="leader">Sign up to help with our campaign!</p>
    <p>Real progress happens when we work together, and we can’t run this campaign without your support. Sign up to receive updates on our campaign, invites to events, and to find out how you can help Ravi Joshi make real progress in Ottawa.</p>
                        <ul>
                            <li>If you're part of the Toronto—Danforth community and would like to add your voice to support Ravi, select “I want to publicly endorse Ravi Joshi” and someone from our team will reach out to you.</li>
                            <li>To support Ravi in the nomination you need to be a member of the NDP. You can <a rel="noopener" href="https://action.ndp.ca/page/contribute/2017-membership-en" target="_blank">join directly on the NDP site</a> for $25 a year, or less if you’re underemployed, unemployed, a union member, or a youth. If you think you might be a member, but you’re not sure, sign up and select “I'm not sure if I'm an NDP member” and we’ll let you know.</li>
                        </ul>

</article>

                </div>
            </div>


            <!-- /_intro.html -->


            <!-- _social_slider.html -->

            <!-- /_social_slider.html -->


            <!-- _pn-faq-child.html -->


            <!-- /_pn-faq-child.html -->


        </div>


        <div class="form-grid-form-content theme-panel theme-primary">

            <!-- _pn-squeeze_content.html -->


            <!-- /_pn-squeeze_content.html -->







            <h4>Hi Erin, thanks for joining!</h4>


            <div class="padbottommore"><small>If you're not Erin M111222333, <a href="/logout?page_id=23">click here to signup</a>.</small></div>


            <form id="join_page_new_signup_form" class="ajaxForm signup_form" method="POST" action="/forms/signups" enctype="multipart/form-data"><input name="authenticity_token" type="hidden" value="9i1HULJ02OMliN1+7Dy9eZd9aOA/pEI/9riNIlvsBRU="><input name="page_id" type="hidden" value="23"><input name="return_to" type="hidden" value="https://www.ravifordanforth.ca/join"><div class="email_address_form" style="display:none;" aria-hidden="true"><p><label for="email_address">Optional email code</label><br><input name="email_address" type="text" class="text" id="email_address" autocomplete="off"></p></div>

                <div class="form-errors"></div>


                <!-- _pn-forms_name-email.html -->

                <!-- _pn-forms_name.html -->


                <div class="row">

                    <div class="col-xs-6" id="signup_first_name_container">
                        <div class="form-group">
                            <label for="signup_first_name">First Name</label>
                            <input class="text form-control" id="signup_first_name" name="signup[first_name]" type="text" value="Erin">
                        </div>
                    </div>

                    <div class="col-xs-6" id="signup_last_name_container">
                        <div class="form-group">
                            <label for="signup_last_name">Last Name</label>
                            <input class="text form-control" id="signup_last_name" name="signup[last_name]" type="text" value="Marchak">
                        </div>
                    </div>

                </div>

                <!-- /_pn-forms_name.html -->


                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="signup_email">Email</label>
                            <input class="text form-control" id="signup_email" name="signup[email]" type="email" value="erin@emarchak.com">

                            <div class="form-group-checkbox checkbox">
                                <label for="signup_email_opt_in">
                                    <input name="signup[email_opt_in]" type="hidden" value="0"><input class="checkbox" checked="checked" id="signup_email_opt_in" name="signup[email_opt_in]" type="checkbox" value="1">
                                    <span>Send me email updates</span>
                                </label>
                            </div>

                        </div>
                    </div>


                </div>

                <!-- /_pn-forms_name-email.html -->


                <!-- _pn-forms_phone.html -->


                <!-- /_pn-forms_phone.html -->




                <!-- _pn-forms_address.html -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="signup_submitted_address">

                                Address (Street, City, Province, Postal code)


                            </label>
                            <input class="text form-control" autocomplete="street-address" id="signup_submitted_address" name="signup[submitted_address]" type="text" value="m6g 2s5">
                        </div>
                    </div>
                </div>

                <!-- /_pn-forms_address.html -->




                <!-- _theme-form-fields.html -->

                <!-- /_theme-form-fields.html -->




                <!-- _labeled_tags.html -->


                <div class="checkbox">
                    <label for="checkbox_5" class="checkbox"> <input type="checkbox" name="signup[labeled_tags][]" value="5" id="checkbox_5"> I'm not sure if I'm an NDP member, can you help me find out? </label>
                </div>



                <div class="checkbox">
                    <label for="checkbox_8" class="checkbox"> <input type="checkbox" name="signup[labeled_tags][]" value="8" id="checkbox_8"> I can attend the Toronto-Danforth NDP Riding Association AGM on Sun, April 7 and vote for Ravi!  </label>
                </div>



                <div class="checkbox">
                    <label for="checkbox_7" class="checkbox"> <input type="checkbox" name="signup[labeled_tags][]" checked="checked" value="7" id="checkbox_7"> I want to help with the campaign. </label>
                </div>



                <div class="checkbox">
                    <label for="checkbox_6" class="checkbox"> <input type="checkbox" name="signup[labeled_tags][]" checked="checked" value="6" id="checkbox_6"> I want to publicly endorse Ravi Joshi.  </label>
                </div>



                <div class="checkbox">
                    <label for="checkbox_9" class="checkbox"> <input type="checkbox" name="signup[labeled_tags][]" value="6" id="checkbox_9"> Some other check  </label>
                </div>
                <!-- /_labeled_tags.html -->




                <!-- _pn-forms_volunteer.html -->


                <!-- /_pn-forms_volunteer.html -->


                <!-- _pn-forms_publish.html -->




                <!-- /_pn-forms_publish.html -->






                <!-- _pn-forms_submit.html -->

                <div class="form-submit-row">

                    <input class=" submit-button btn btn-primary" type="submit" name="commit" value="Update info">


                    <div class="form-submit emphasis"></div>


                </div>

                <!-- /_pn-forms_submit.html -->



            </form>




        </div>
    </div>


</div>