
<article class="rj2019--letter">
  <h1 id="why">Why I'm Running</h1>
  <img class="rj2019--letter--photo" alt="Ravi being nice"
       src="http://placekitten.com/g/400/500"
       srcset="http://placekitten.com/g/520/720 720w,
               http://placekitten.com/g/400/500 720w"
       sizes="(max-width: 767px) 100vw,
              (min-width: 768px) 500px">
  <div class="rj2019--letter--content">
    <p>I grew up in Toronto-Danforth, in a home I wouldn't be able to afford today. My mom worked as a teacher and my dad sold printers before getting an opportunity to put his degrees to use at IBM. They were able to raise four kids in a diverse, tree-lined neighbourhood with good schools, parks and a strong sense of community. Today, income inequality and an affordability crisis are making it harder and harder for stories like theirs - or like mine - to become a reality. In Toronto-Danforth, young families are wondering how they're going to afford child care and rising housing prices, and plan for the future. Low-income residents have fewer and fewer options to find dignified housing and nutritious food. People like my parents are wondering what kind of future the climate crisis has in store for their grandchildren.</p>

    <p>I am running for MP because Ottawa has lost its way - and I know we can find our way back. We need a voice for Toronto-Danforth in the House of Commons who expects our government to do more. From the climate crisis and reconciliation to wealth inequality and democratic reform, Canada has stalled and our government isn't listening. </p>

    <p>Whether working as a campaigner at Make Poverty History, organizing under-represented communities at Jack Layton's NDP or making our community better with Councillor Paula Fletcher, I have worked to elevate the voices that most need to be heard and empower communities to lead. It's time for Toronto-Danforth to ask our leaders for more. </p>
    <footer class="rj2019--letter--signature">– Ravi</footer>
  </div>
</article>
<%- include('partials/cta') %>


<article class="rj2019--textblock">
  <h1  id="about" class="rj2019--textblock--title">About Ravi</h1>

    <img height="270" width="480" class="rj2019--photo rj2019--photo__left" alt="Ravi being nice" src="https://d3n8a8pro7vhmx.cloudfront.net/ravijoshi/pages/19/attachments/original/1546121519/hero--med--med.jpg?1546121519">

  <p><strong>Ravi Joshi grew up in Toronto-Danforth</strong> and became involved in his community as a kid helping his dad deliver donations for Riverdale Share. As a passionate advocate for social justice, Ravi has dedicated his career to <strong>fighting inequality and giving a voice to those who are listened to the least</strong>. As an organizer at Make Poverty History, Ravi campaigned on the Robin Hood Tax to fund poverty reduction. As an equity organizer with the NDP, Ravi's mission was to work with underrepresented communities to increase access to politics and advocacy. At Social Planning Toronto, Ravi led a successful campaign to make it easier for municipalities to make developers do their fair share to build more affordable housing and strengthen our communities.</p>

    <img height="270" width="480" class="rj2019--photo rj2019--photo__right" alt="Ravi being nice" src="https://d3n8a8pro7vhmx.cloudfront.net/ravijoshi/pages/19/attachments/original/1546121519/hero--med--med.jpg?1546121519">

  <p>Ravi has deep roots in Toronto-Danforth. He spent 4 years at City Hall working with Councillor Paula Fletcher to make our  <strong>neighbourhoods inclusive, livable, vibrant communities</strong>. In his own neighbourhood, Ravi co-founded TransformCarlaw, a resident-led environmental initiative to reduce the carbon footprint of condos on Carlaw. He has volunteered with neighbourhood groups like the Leslieville Historical Society and Ward 30 Bikes.</p>

  <p>Ravi knows how government works - and he knows who government leaves behind. He has seen how public policy can make our communities more fair, and how special interests can get in the way. Ravi is committed to working tirelessly to <strong>make the system work for all of us </strong> on everything from affordable housing and child care to the climate crisis and out of control income inequality. </p>
</article>

