<article class="rj2019--cta">
  <div class="rj2019--cta--content">
    <div class="rj2019--cta--copy">
      <h2 class="rj2019--cta--logo"><img src="<%= site.domain %>logo/logo--extended--light.svg" class="rj2019--cta--logo-svg" width="720" alt="Ravi Joshi for Toronto-Danforth"/></h2>
      <h3 class="rj2019--cta--subheading">It's time for Toronto&#8209;Danforth to ask our leaders for more.</h3>
    </div>
    <a class="btn btn-primary btn-block btn-lg" href="/join">Join us</a>
  </div>
</article>