<article class="rj2019--cta">
  <div class="rj2019--cta--content">
    <div class="rj2019--cta--copy">
      <h2><img src="http://d3n8a8pro7vhmx.cloudfront.net/themes/5bdc51414764e8a0052988b4/attachments/original/1546292699/logo--orange.svg?1546292699" class="rj2019--cta--logo" width="720" alt="Ravi Joshi for Toronto-Danforth"/></h2>
      <h3 class="rj2019--cta--subheading">It's time for Toronto&#8209;Danforth to ask our leaders for more.</h3>
    </div>
    <a class="btn btn-primary btn-block btn-lg" href="/join">Join us</a>
  </div>
</article>