<footer class="block footer">

  <div class="footer-logos">
    <a href="http://ravijoshi.nationbuilder.com/admin" class="footer-logo-main">

      <span class="fas fa-fw fa-user-cog"></span>

    </a>

    <a href="https://nationbuilder.com/" class="footer-logo-nb">
      <img src="https://d3n8a8pro7vhmx.cloudfront.net/themes/5c0ded0745de94575ab2e614/attachments/original/1544417075/nationbuilder-white.png?1544417075" alt="Created with NationBuilder">
    </a>


    <a href="https://www.progressivenation.ca/" class="footer-logo-pn">
      <img src="https://d3n8a8pro7vhmx.cloudfront.net/themes/5c0ded0745de94575ab2e614/attachments/original/1544417079/progressivenation-white.png?1544417079" alt="Built by Progressive Nation">
    </a>

  </div>
</footer>
