
<!-- _pn-connect-block.html -->

<div class="block connect-block">


  <!-- _pn-connect-block_items.html -->

  <!-- _pn-connect.html -->




  <ul class="connect-items connect-block-items">




    <li class="connect-item connect-block-item">
      <a href="https://www.twitter.com/ravijoshiTO" class="connect-link connect-block-link" target="_blank" rel="nofollow">
        <span class="sr-only">Twitter</span>
        <span class="connect-icon fa-fw fab fa-twitter"></span>
      </a>
    </li>


  </ul>


  <!-- /_pn-connect.html -->


  <!-- /_pn-connect-block_items.html -->

</div>


<!-- /_pn-connect-block.html -->


<!-- /_pn-connect-block_main.html -->


<!-- _pn-misc-block.html -->

<div class="block misc-block">


  <div class="misc-block-item">


    <!-- _pn-misc-block_signup.html -->
    <h3 class="block-headline headline-line">
      Sign up for updates
    </h3>



    <form id="getupdates_page_new_signup_form" class="ajaxForm signup_form" method="POST" action="/forms/signups" enctype="multipart/form-data"><input name="authenticity_token" type="hidden" value="Wp8IEqz9v0fuRUqp9hrBTCHbD+Ly+Y7VlkF6mboo+Cs="><input name="page_id" type="hidden" value="12"><input name="return_to" type="hidden" value="https://action.ravijoshi.ca/getupdates"><div class="email_address_form" style="display:none;" aria-hidden="true"><p><label for="email_address">Optional email code</label><br><input name="email_address" type="text" class="text" id="email_address" autocomplete="off"></p></div>
      <div class="form">
        <div class="row">
          <div class="col-sm-6">
            <input required="required" class="text input-lg form-control" id="signup_email" name="signup[email]" placeholder="Email address" type="email" value="">
          </div>
          <div class="col-sm-6">
            <input required="required" class="text input-lg form-control" id="signup_submitted_address" name="signup[submitted_address]" placeholder="Postal code" type="text" value="">
          </div>
        </div>
        <input class="submit-button btn btn-default btn-lg btn-block" type="submit" name="commit" value="Sign Up">
      </div>
    </form>



    <!-- /_pn-misc-block_signup.html -->


  </div>


  <div class="misc-block-item">


    <!-- _pn-misc-block_donate.html -->
    <h3 class="block-headline headline-line">Make a donation</h3>
    <div class="misc-block-donate-items">

      <a href="/donate?amount=5" class="btn btn-default btn-lg btn-block">
        $5
      </a>

      <a href="/donate?amount=25" class="btn btn-default btn-lg btn-block">
        $25
      </a>

      <a href="/donate?amount=50" class="btn btn-default btn-lg btn-block">
        $50
      </a>

      <a href="/donate?amount=100" class="btn btn-default btn-lg btn-block">
        $100
      </a>

    </div>

    <!-- /_pn-misc-block_donate.html -->


  </div>

</div>

<!-- /_pn-misc-block.html -->



<!-- _pn-contact-block_main.html -->

<!-- _pn-contact-block.html -->
<div class="block contact-block">



  <!-- _pn-contact-block_items.html -->
  <div class="contact-block-items">

    <div class="contact-block-item">
      <span class="fas fa-envelope"></span>
      <span class="sr-only">Email:</span>
      <a href="mailto:info@ravijoshi.ca" target="_blank" rel="nofollow">info@ravijoshi.ca</a>
    </div>











  </div>

  <!-- /_pn-contact-block_items.html -->

</div>

<!-- /_pn-contact-block.html -->


<!-- /_pn-contact-block_main.html -->


<!-- _excerpts_tag.html -->


<!-- /_excerpts_tag.html -->



<!-- /_theme-after-content.html -->


<!-- _footer.html -->


<footer class="block footer">

  <div class="footer-logos">
    <a href="http://ravijoshi.nationbuilder.com/admin" class="footer-logo-main">

      <span class="fas fa-fw fa-user-cog"></span>

    </a>

    <a href="https://nationbuilder.com/" class="footer-logo-nb">
      <img src="https://d3n8a8pro7vhmx.cloudfront.net/themes/5c0ded0745de94575ab2e614/attachments/original/1544417075/nationbuilder-white.png?1544417075" alt="Created with NationBuilder">
    </a>


    <a href="https://www.progressivenation.ca/" class="footer-logo-pn">
      <img src="https://d3n8a8pro7vhmx.cloudfront.net/themes/5c0ded0745de94575ab2e614/attachments/original/1544417079/progressivenation-white.png?1544417079" alt="Built by Progressive Nation">
    </a>

  </div>
</footer>
