<div class="block contact-block">



  <!-- _pn-contact-block_items.html -->
  <div class="contact-block-items">

    <div class="contact-block-item">
      <span class="fas fa-envelope"></span>
      <span class="sr-only">Email:</span>
      <a href="mailto:contact@progressivenation.ca" target="_blank" rel="nofollow">contact@progressivenation.ca</a>
    </div>









    <div class="contact-block-item">
      <span class="fas fa-phone"></span>
      <span class="sr-only">Phone:</span>
      <a href="tel:(416) 123-4567">(416) 123-4567</a>
    </div>



    <div class="contact-block-item">
      <strong>Mailing Address:</strong>
      123 Fake St, Toronto, ON, A1B 2C3

    </div>

  </div>

  <!-- /_pn-contact-block_items.html -->

</div>

<footer class="block footer">

  <div class="footer-logos">
    <a href="/login" class="footer-logo-main">

      <img src="https://d3n8a8pro7vhmx.cloudfront.net/progressivenationhq/sites/7/header_images/sixty/chrismoiselogo2018-2.png?1540917592" alt="Login to Demo Site">

    </a>

    <a href="https://nationbuilder.com/" class="footer-logo-nb">
      <img src="https://d3n8a8pro7vhmx.cloudfront.net/themes/5be73b394764e83b7953c5d1/attachments/original/1541881289/nationbuilder-white.png?1541881289" alt="Created with NationBuilder">
    </a>


    <a href="https://www.progressivenation.ca/" class="footer-logo-pn">
      <img src="https://d3n8a8pro7vhmx.cloudfront.net/themes/5be73b394764e83b7953c5d1/attachments/original/1541881288/progressivenation-white.png?1541881288" alt="Built by Progressive Nation">
    </a>

  </div>
</footer>