<nav class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="btn navbar-toggle" id="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggle-icon"></span>
      </button>
<a href="/" class="navbar-logo">
  <img src="logo/logo--full--dark.svg" alt="<%= site.title %>" class="navbar-logo-img">
</a>





      <!-- _pn-navbar_buttons.html -->


      <!-- /_pn-navbar_buttons.html -->


    </div>


    <!-- _pn-navbar_menu.html -->

    <div class="navbar-menu">
      <div class="navbar-menu-inner">
        <ul class="navbar-links navbar-main">


          <li>
            <a href="/styleguide">Styleguide</a>
          </li>



          <li class="active">
            <a href="/endorse">Endorse</a>
          </li>



          <li>
            <a href="/pledge">Pledge a donation</a>
          </li>


          <li class="navbar-icon-item navbar-overflow dropdown invisible">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <span class="sr-only">More</span>
              <span class="fas fa-fw fa-ellipsis-h"></span>
            </a>
            <ul class="dropdown-menu navbar-sublinks navbar-overflow-dropdown role=" menu"="">
        </ul>
        </li>
        </ul>



        <!-- _pn-connect_main.html -->

        <!-- _pn-connect.html -->




        <ul class="connect-items navbar-links navbar-connect">




          <li class="connect-item navbar-icon-item">
            <a href="https://www.twitter.com/ravijoshiTO" class="connect-link " target="_blank" rel="nofollow">
              <span class="sr-only">Twitter</span>
              <span class="connect-icon fa-fw fab fa-twitter"></span>
            </a>
          </li>


        </ul>


        <!-- /_pn-connect.html -->


        <!-- /_pn-connect_main.html -->




        <!-- _pn-navbar_buttons.html -->


        <!-- /_pn-navbar_buttons.html -->

      </div>
    </div>


    <!-- /_pn-navbar_menu.html -->

  </div>
</nav>