<nav class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="btn navbar-toggle" id="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggle-icon"></span>
      </button>
      <a href="/" class="navbar-logo">
        <img src="https://placeholder.pics/svg/300x100/transparent/RJ2019" alt="<%= site.title %>" class="navbar-logo-img"/>
      </a>
      <div class="navbar-header-space"></div>
      <div class="navbar-buttons navbar-mobile-buttons">
        <a class="btn btn-default btn-lg" href="https://demo.progressivenation.ca/donate">Donate</a>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-menu-inner">
        <ul class="navbar-links navbar-main">
          <li><a href="/mystory">My Story</a></li>
          <li><a href="/ourplan">Our Plan</a></li>
          <li><a href="/join">Join Us</a>
          </li>
          <li><a href="/contact">Contact</a></li>
          <li class="navbar-icon-item navbar-overflow dropdown invisible">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <span class="sr-only">More</span>
              <span class="fas fa-fw fa-ellipsis-h"></span>
            </a>
          </li>
        </ul>
        <ul class="connect-items navbar-links navbar-connect">
          <li class="connect-item navbar-icon-item">
            <a href="https://www.twitter.com/ProgNationCa" class="connect-link " target="_blank" rel="nofollow">
              <span class="sr-only">Twitter</span>
              <span class="connect-icon fa-fw fab fa-twitter"></span>
            </a>
          </li>
        </ul>
        <div class="navbar-buttons navbar-menu-buttons">
          <a class="btn btn-default btn-lg" href="https://demo.progressivenation.ca/donate">Primary CTA</a>
        </div>
      </div>
    </div>
  </div>
</nav>   