<div class="rj2019--hero">
  <img class="rj2019--hero--image" alt="Ravi Joshi discusses issues with a resident in the Blake-Boultbee community."
       src="https://d3n8a8pro7vhmx.cloudfront.net/ravijoshi/pages/19/attachments/original/1547417286/hero--small.jpg?1547417286"
       srcset="https://d3n8a8pro7vhmx.cloudfront.net/ravijoshi/pages/19/attachments/original/1547417286/hero--small.jpg?1547417286 357w,
               https://d3n8a8pro7vhmx.cloudfront.net/ravijoshi/pages/19/attachments/original/1547417290/hero--med.jpg?1547417290 800w,
               <%= site.domain%>img/hero--large.jpg"
       sizes="(max-width: 767px) 100vw,
              (min-width: 768px) and (max-width: 1600px) 100vw,
              (min-width: 1601px) 100vw" />
  <div class="rj2019--hero--content">
      Let’s make real progress in Ottawa, together.
    <a class="btn btn-primary btn-lg btn-block" href="/join?surface=home-hero">Be a part of it</a>
  </div>
</div>