<div class="rj2019--hero">
  <img class="rj2019--hero--image" alt="Ravi Joshi discusses issues with a resident in the Blake-Boultbee community."
       src="https://d3n8a8pro7vhmx.cloudfront.net/themes/5bdc51414764e8a0052988b4/attachments/original/1547508766/hero--med.jpg"
       srcset="https://d3n8a8pro7vhmx.cloudfront.net/themes/5bdc51414764e8a0052988b4/attachments/original/1547508766/hero--large.jpg 1600w,
               https://d3n8a8pro7vhmx.cloudfront.net/themes/5bdc51414764e8a0052988b4/attachments/original/1547508766/hero--med.jpg 800w,
       http://d3n8a8pro7vhmx.cloudfront.net/themes/5bdc51414764e8a0052988b4/attachments/original/1547508766/hero--small.jpg 357w"
        />
  <div class="rj2019--hero--content">
      Let’s make real progress in Ottawa, together.
    <a class="btn btn-primary btn-lg btn-block" href="/join?surface=home-hero">Be a part of it</a>
  </div>
</div>