<div class="modal modal-md  ">
    <input type="checkbox" id="flash_share" class="modal-checkbox" checked="">

    <div class="modal-overlay">
        <div class="modal-modal">
            <label for="flash_share" class="btn btn-primary close-button">
                <span class="sr-only">Close</span>
                <span class="fas fa-times fa-fw"></span>
            </label>



            <div class="modal-content">

                <div class="content-font-size text-content">

                    <h4 class="headline-line">Thank you for supporting Ravi Joshi for Toronto-Danforth!</h4>



                    <p>Tell all your friends, they should join you! A link will be included.</p>


                    <!-- _share_buttons.html -->
                    <div class="share-buttons text-center">
                        <a class="btn btn-default" href="mailto:?body=I believe in Ravi Joshi for Toronto-Danforth's NDP. This is our moment – our chance to make real progress in Ottawa. Let’s get to work and get the job done. ✓%0A%0Ahttps://www.ravifordanforth.ca/join?recruiter_id=1397">
                            <span class="fas fa-fw fa-envelope"></span>
                            <span class="">Email</span>
                        </a>

                        <a class="btn btn-default" href="http://www.facebook.com/share.php?u=https://www.ravifordanforth.ca/join?recruiter_id=1397" target="_blank">
                            <span class="fab fa-fw fa-facebook"></span>
                            <span class="">Facebook</span>
                        </a>

                        <a class="btn btn-default" href="http://twitter.com/share?url=https://www.ravifordanforth.ca/join?recruiter_id=1397&amp;related=RaviForDanforth&amp;text=I+believe+in+Ravi+Joshi+for+Toronto-Danforth%27s+NDP.+This+is+our+moment+%E2%80%93+our+chance+to+make+real+progress+in+Ottawa.+Let%E2%80%99s+get+to+work+and+get+the+job+done.+%E2%9C%93" target="_blank">
                            <span class="fab fa-fw fa-twitter"></span>
                            <span class="">Twitter</span>
                        </a>
                    </div>

                    <!-- /_share_buttons.html -->


                </div>

            </div>
        </div>
    </div>
</div>