<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= site.title %></title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/solid.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://progressivenationhq.nationbuilder.com/themes/13/5c0ded0745de94575ab2e614/0/attachments/15444169401545603391/default/theme-light.css" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <header class="site-header">
      <%- include('partials/header') %>
  </header>

  <header class="site-hero">
    <img src="img/hero--full--high.jpg">
  </header>


  <main class="body">
    <%- body %>
  </main>

  <%- include('partials/footer') %>
</body>
</html>